<footer>
    <div class="f-info">
        <!-- Left Side -->
        <div class="f-info-left">
            <span>&copy; 2026 @AirNest | Created by-Meghraj Choudhary</span>
            <span class="dot">·</span>
            <a href="/privacy" class="f-info-links">Privacy</a>
            <span class="dot">·</span>
            <a href="/terms" class="f-info-links">Terms</a>
        </div>

        <!-- Right Side -->
        <div class="f-info-right">
            <span><i class="fa-solid fa-globe"></i> English (IN)</span>
            <span>₹ INR</span>
            <div class="f-info-socials">
                <a href="https://www.linkedin.com/in/meghraj-choudhary-960b122a9/" target="_blank"
                    style="color: #222222;"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com" target="_blank" style="color: #222222;"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</footer>