<footer>
    <div class="f-info">
        <div class="f-info-left">
            <span>&copy; 2026 Created by-Meghraj Choudhary</span>
            <span class="dot">·</span>
            <a href="/privacy">Privacy</a>
            <span class="dot">·</span>
            <a href="/terms">Terms</a>
            <span class="dot">·</span>
            
        </div>
        <div class="f-info-right">
            <a href="#" class="f-info-link"><i class="fa-solid fa-globe"></i> English (IN)</a>
            <span class="f-info-link">₹ INR</span>
            <div class="f-info-socials">
                <a href="https://www.linkedin.com/in/meghraj-choudhary-960b122a9/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>